## Overview

### With New York City's recent implementation of congestion pricing belows 60th Street in Manhattan, this project aims to explore how MTA's transit ridership could shift in this new policy. Examning MTA's ridership data Im looking to uncover ridership trends, asses potential benefits using proxy data, and provide insight into historical patterns in operations and finance.

## Ridership Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Datasets/MTA_Daily_Ridership_Data__2020_-_2025_20250114.csv')
df.head()
pd.options.display.float_format = '{:,.0f}'.format # used to display floats in full without scientific notation

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1776 entries, 0 to 1775
Data columns (total 15 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Date                                                     1776 non-null   object
 1   Subways: Total Estimated Ridership                       1776 non-null   int64
 2   Subways: % of Comparable Pre-Pandemic Day                1776 non-null   float64
 3   Buses: Total Estimated Ridership                         1776 non-null   int64
 4   Buses: % of Comparable Pre-Pandemic Day                  1776 non-null   float64
 5   LIRR: Total Estimated Ridership                          1776 non-null   int64
 6   LIRR: % of Comparable Pre-Pandemic Day                   1776 non-null   float64
 7   Metro-North: Total Estimated Ridership                   1776 non-null   int64
 8   Metro-North: % of Comparable Pre-Pandemic Day            1776 non-null   float64
 9   Access-A-Ride: Total Scheduled Trips                     1776 non-null   int64
 10  Access-A-Ride: % of Comparable Pre-Pandemic Day          1776 non-null   float64
 11  Bridges and Tunnels: Total Traffic                       1776 non-null   int64
 12  Bridges and Tunnels: % of Comparable Pre-Pandemic Day    1776 non-null   float64
 13  Staten Island Railway: Total Estimated Ridership         1776 non-null   int64
 14  Staten Island Railway: % of Comparable Pre-Pandemic Day  1776 non-null   float64
dtypes: float64(7), int64(7), object(1)
memory usage: 208.2+ KB

In [4]:
df['Date'] = pd.to_datetime(df['Date'])
earliest_year = df['Date'].dt.year.min()
latest_year = df['Date'].dt.year.max()
print(f'The range of years in dataset is minimum {earliest_year} and max {latest_year}')

The range of years in dataset is minimum 2020 and max 2025

In [5]:
df.rename(columns ={'Subways: Total Estimated Ridership' : 'Subways_Ridership',
                     'Subways: % of Comparable Pre-Pandemic Day' : 'Subways_Percentage_Prepandemic',
                     'Buses: Total Estimated Ridership': 'Buses_Ridership',
                     'Buses: % of Comparable Pre-Pandemic Day' : 'Buses_Percentage_Prepandemic',
                     'LIRR: Total Estimated Ridership' : 'LIRR_Ridership',
                     'LIRR: % of Comparable Pre-Pandemic Day' : ' LIRR_Percentage_Prepandemic',
                     'Metro-North: Total Estimated Ridership' : 'Metronorth_Ridership',
                     'Metro-North: % of Comparable Pre-Pandemic Day' : 'Metronorth_Percentage_Prepandemic',
                     'Access-A-Ride: Total Scheduled Trips' : 'Access-A-Ride_Total Scheduled',
                     'Access-A-Ride: % of Comparable Pre-Pandemic Day' : 'Acces-A-Ride_Percentage_Prepandemic',
                     'Bridges and Tunnels: Total Traffic' : 'Bridges_and_Tunnel_Total_Traffic',
                     'Bridges and Tunnels: % of Comparable Pre-Pandemic Day' : 'Bridges_and_Tunnels_Percentage_Prepandemic',
                     'Staten Island Railway: Total Estimated Ridership' : 'Staten_Island_Railway_Ridership',
                     'Staten Island Railway: % of Comparable Pre-Pandemic Day' : 'Staten_Island_Rallway_Percentage_Prepandemic'
},inplace=True)

### Check for missing values

In [6]:
df.isnull().sum()

Date                                            0
Subways_Ridership                               0
Subways_Percentage_Prepandemic                  0
Buses_Ridership                                 0
Buses_Percentage_Prepandemic                    0
LIRR_Ridership                                  0
 LIRR_Percentage_Prepandemic                    0
Metronorth_Ridership                            0
Metronorth_Percentage_Prepandemic               0
Access-A-Ride_Total Scheduled                   0
Acces-A-Ride_Percentage_Prepandemic             0
Bridges_and_Tunnel_Total_Traffic                0
Bridges_and_Tunnels_Percentage_Prepandemic      0
Staten_Island_Railway_Ridership                 0
Staten_Island_Rallway_Percentage_Prepandemic    0
dtype: int64

### Converting percentage columns

In [7]:
percentage_columns = [col for col in df.columns if 'Percentage' in col]
df[percentage_columns] = df[percentage_columns].apply(lambda x:x*100 )
df[percentage_columns] = df[percentage_columns].astype(int)
df.head()

,Date,Subways_Ridership,Subways_Percentage_Prepandemic,Buses_Ridership,Buses_Percentage_Prepandemic,LIRR_Ridership,LIRR_Percentage_Prepandemic,Metronorth_Ridership,Metronorth_Percentage_Prepandemic,Access-A-Ride_Total Scheduled,Acces-A-Ride_Percentage_Prepandemic,Bridges_and_Tunnel_Total_Traffic,Bridges_and_Tunnels_Percentage_Prepandemic,Staten_Island_Railway_Ridership,Staten_Island_Rallway_Percentage_Prepandemic
0,2020-03-01,2212965,97,984908,99,86790,100,55825,59,19922,112,786960,98,1636,52
1,2020-03-02,5329915,96,2209066,99,321569,103,180701,66,30338,102,874619,95,17140,107
2,2020-03-03,5481103,98,2228608,99,319727,102,190648,69,32767,110,882175,96,17453,109
3,2020-03-04,5498809,99,2177165,97,311662,99,192689,70,34297,114,905558,98,17136,107
4,2020-03-05,5496453,99,2244515,100,307597,98,194386,70,33209,112,929298,101,17203,108

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1776 entries, 0 to 1775
Data columns (total 15 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Date                                          1776 non-null   datetime64[ns]
 1   Subways_Ridership                             1776 non-null   int64
 2   Subways_Percentage_Prepandemic                1776 non-null   int64
 3   Buses_Ridership                               1776 non-null   int64
 4   Buses_Percentage_Prepandemic                  1776 non-null   int64
 5   LIRR_Ridership                                1776 non-null   int64
 6    LIRR_Percentage_Prepandemic                  1776 non-null   int64
 7   Metronorth_Ridership                          1776 non-null   int64
 8   Metronorth_Percentage_Prepandemic             1776 non-null   int64
 9   Access-A-Ride_Total Scheduled                 1776 non-null   int64
 10  Acces-A-Ride_Percentage_Prepandemic           1776 non-null   int64
 11  Bridges_and_Tunnel_Total_Traffic              1776 non-null   int64
 12  Bridges_and_Tunnels_Percentage_Prepandemic    1776 non-null   int64
 13  Staten_Island_Railway_Ridership               1776 non-null   int64
 14  Staten_Island_Rallway_Percentage_Prepandemic  1776 non-null   int64
dtypes: datetime64[ns](1), int64(14)
memory usage: 208.2 KB

### Removing outliers to enhance accurary of analaysis & improve predicitive modeling. Only focusing on ridership patterns

In [9]:
ridership_columns = [col for col in df.columns if 'Ridership' in col]
for col in ridership_columns:
    print(f'Statistics for {col}:')
    print(df[col].describe())
    print("\n")

Statistics for Subways_Ridership:
count       1,776
mean    2,541,830
std     1,067,641
min       198,399
25%     1,735,692
50%     2,505,354
75%     3,476,191
max     5,498,809
Name: Subways_Ridership, dtype: float64


Statistics for Buses_Ridership:
count       1,776
mean    1,011,409
std       436,980
min         5,498
25%       718,619
50%     1,143,659
75%     1,350,378
max     2,244,515
Name: Buses_Ridership, dtype: float64


Statistics for LIRR_Ridership:
count     1,776
mean    138,784
std      72,244
min       1,903
25%      80,256
50%     127,684
75%     201,385
max     321,569
Name: LIRR_Ridership, dtype: float64


Statistics for Metronorth_Ridership:
count     1,776
mean    117,522
std      67,232
min       3,281
25%      53,755
50%     111,431
75%     180,373
max     249,585
Name: Metronorth_Ridership, dtype: float64


Statistics for Staten_Island_Railway_Ridership:
count    1,776
mean     4,492
std      2,700
min          0
25%      2,122
50%      4,568
75%      6,846
max     17,453
Name: Staten_Island_Railway_Ridership, dtype: float64

In [10]:
for col in ridership_columns:
    Q1 = df[col].quantile(.25)
    Q3 = df[col].quantile(.75)
    IQR = Q3-Q1
    df = df[(df[col] >= Q1 -1.5 * IQR) & (df[col] <= Q3 + 1.5 * IQR)]

df

,Date,Subways_Ridership,Subways_Percentage_Prepandemic,Buses_Ridership,Buses_Percentage_Prepandemic,LIRR_Ridership,LIRR_Percentage_Prepandemic,Metronorth_Ridership,Metronorth_Percentage_Prepandemic,Access-A-Ride_Total Scheduled,Acces-A-Ride_Percentage_Prepandemic,Bridges_and_Tunnel_Total_Traffic,Bridges_and_Tunnels_Percentage_Prepandemic,Staten_Island_Railway_Ridership,Staten_Island_Rallway_Percentage_Prepandemic
0,2020-03-01,2212965,97,984908,99,86790,100,55825,59,19922,112,786960,98,1636,52
6,2020-03-07,2814637,92,1249085,94,106058,98,75838,56,18117,107,827907,95,2445,48
7,2020-03-08,2120656,93,957163,96,81565,94,60800,64,19477,111,765083,95,1672,53
12,2020-03-13,3484996,63,1715737,77,158582,51,167176,61,26640,90,860419,93,11769,74
13,2020-03-14,1670665,54,993287,75,44885,42,39701,28,13394,79,631101,72,2135,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1771,2025-01-05,1791020,86,618750,67,96683,117,79761,88,23665,175,726411,106,2039,74
1772,2025-01-06,3436491,67,1238969,61,229503,76,202575,75,35840,127,792617,91,6887,42
1773,2025-01-07,3781536,74,1275936,62,245930,81,220945,82,38048,134,842968,97,7409,45
1774,2025-01-08,3830616,74,1256260,61,239444,79,209550,78,39406,139,852748,98,7798,48
1775,2025-01-09,3734383,73,787710,38,229804,76,198894,74,38431,136,869256,100,6841,42

### Adding days of the week for further trend analysis

In [11]:
df['Day_of_Week'] = df['Date'].dt.day_name()
df['Total_Ridership'] = df['Subways_Ridership'] + df['Buses_Ridership'] + df['Buses_Ridership'] + df['LIRR_Ridership'] + df['Metronorth_Ridership']
df['Subway_Ridership_Ratio'] = df['Subways_Ridership']/ df['Total_Ridership']
df.head()

,Date,Subways_Ridership,Subways_Percentage_Prepandemic,Buses_Ridership,Buses_Percentage_Prepandemic,LIRR_Ridership,LIRR_Percentage_Prepandemic,Metronorth_Ridership,Metronorth_Percentage_Prepandemic,Access-A-Ride_Total Scheduled,Acces-A-Ride_Percentage_Prepandemic,Bridges_and_Tunnel_Total_Traffic,Bridges_and_Tunnels_Percentage_Prepandemic,Staten_Island_Railway_Ridership,Staten_Island_Rallway_Percentage_Prepandemic,Day_of_Week,Total_Ridership,Subway_Ridership_Ratio
0,2020-03-01,2212965,97,984908,99,86790,100,55825,59,19922,112,786960,98,1636,52,Sunday,4325396,1
6,2020-03-07,2814637,92,1249085,94,106058,98,75838,56,18117,107,827907,95,2445,48,Saturday,5494703,1
7,2020-03-08,2120656,93,957163,96,81565,94,60800,64,19477,111,765083,95,1672,53,Sunday,4177347,1
12,2020-03-13,3484996,63,1715737,77,158582,51,167176,61,26640,90,860419,93,11769,74,Friday,7242228,0
13,2020-03-14,1670665,54,993287,75,44885,42,39701,28,13394,79,631101,72,2135,42,Saturday,3741825,0

In [12]:
# df.to_csv('cleaned_ridership_df.csv', index=False)

## Traffic Data

In [13]:
df_2 = pd.read_csv('Datasets/MTA_Monthly_Ridership___Traffic_Data__Beginning_January_2008_20250114.csv')
df_2

          Month    Agency   Ridership
0    2008-01-01       MNR   6,453,734
1    2008-02-01       MNR   6,144,377
2    2008-03-01       MNR   6,602,280
3    2008-04-01       B&T  24,900,328
4    2008-04-01       MNR   6,787,480
..          ...       ...         ...
848  2024-11-01       MNR   5,684,234
849  2024-11-01   MTA Bus   7,494,503
850  2024-11-01  NYCT Bus  28,103,512
851  2024-11-01       SIR     195,389
852  2024-11-01    Subway 102,543,910

[853 rows x 3 columns]

In [22]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 853 entries, 0 to 852
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Month      853 non-null    datetime64[ns]
 1   Agency     853 non-null    object
 2   Ridership  853 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 20.1+ KB

In [15]:
df_2['Month'] = pd.to_datetime(df_2['Month'])
min_date = df_2['Month'].min()
max_date = df_2['Month'].max()

print(f'The lowest date recorded is {min_date} and max date is {max_date}')

The lowest date recorded is 2008-01-01 00:00:00 and max date is 2024-11-01 00:00:00

In [19]:
df_2['Agency'].value_counts()

MNR                 203
Briges & Tunnels    200
Bus                 154
Subway               83
AAR                  71
LIRR                 71
SIR                  71
Name: Agency, dtype: int64

In [18]:
df_2['Agency'] = df_2['Agency'].replace({'B&T': 'Briges & Tunnels', 'BT':'Briges & Tunnels'})
df_2['Agency'] = df_2['Agency'].replace({'NYCT Bus': 'Bus', 'MTA Bus': 'Bus'})

In [20]:
agency_mapping = {"MNR": "MetroNorth",
                  "AAR": "Acces_A_Ride",
                  "LIRR": "Long_Island_Railroad",
                  "SIR": "Staten_Island_Railway"}

In [21]:
df_2['Agency'] = df_2['Agency'].replace(agency_mapping)
df_2['Agency'].value_counts()

MetroNorth               203
Briges & Tunnels         200
Bus                      154
Subway                    83
Acces_A_Ride              71
Long_Island_Railroad      71
Staten_Island_Railway     71
Name: Agency, dtype: int64

In [23]:
df_2.isna().sum()

Month        0
Agency       0
Ridership    0
dtype: int64

In [28]:
df_2['Ridership'].describe()

count           853
mean     20,928,895
std      29,709,236
min               0
25%       4,474,399
50%       7,280,395
75%      26,274,222
max     155,315,738
Name: Ridership, dtype: float64

In [27]:
above_75 = df_2['Ridership'].quantile(.75)
entries_above_75 = df_2[df_2['Ridership'] > above_75]
entries_above_75

         Month            Agency   Ridership
11  2008-08-01  Briges & Tunnels  26,448,624
59  2010-08-01  Briges & Tunnels  26,468,484
173 2015-05-01  Briges & Tunnels  26,787,746
175 2015-06-01  Briges & Tunnels  26,408,745
177 2015-07-01  Briges & Tunnels  27,166,917
..         ...               ...         ...
842 2024-10-01               Bus  31,811,369
844 2024-10-01            Subway 113,310,626
846 2024-11-01  Briges & Tunnels  27,482,080
850 2024-11-01               Bus  28,103,512
852 2024-11-01            Subway 102,543,910

[213 rows x 3 columns]

In [33]:
ridership_Q1 = df_2['Ridership'].quantile(.25)
ridership_Q3 = df_2['Ridership'].quantile(.75)
ridership_IQR = ridership_Q1 - ridership_Q3
ridership_lowerbound = ridership_Q1 - 1.5 * ridership_IQR
ridership_upperbound = ridership_Q3 + 1.5 * ridership_IQR
outliers = df_2[(df_2['Ridership']< ridership_lowerbound) | (df_2['Ridership'] > ridership_upperbound)]
values_near_outliers = df_2[(df_2['Ridership'] >0.9 * ridership_upperbound) & (df_2['Ridership'] <= ridership_lowerbound)]
outliers, values_near_outliers

(         Month                 Agency   Ridership
 0   2008-01-01             MetroNorth   6,453,734
 1   2008-02-01             MetroNorth   6,144,377
 2   2008-03-01             MetroNorth   6,602,280
 3   2008-04-01       Briges & Tunnels  24,900,328
 4   2008-04-01             MetroNorth   6,787,480
 ..         ...                    ...         ...
 848 2024-11-01             MetroNorth   5,684,234
 849 2024-11-01                    Bus   7,494,503
 850 2024-11-01                    Bus  28,103,512
 851 2024-11-01  Staten_Island_Railway     195,389
 852 2024-11-01                 Subway 102,543,910

 [853 rows x 3 columns],
          Month                 Agency  Ridership
 0   2008-01-01             MetroNorth  6,453,734
 1   2008-02-01             MetroNorth  6,144,377
 2   2008-03-01             MetroNorth  6,602,280
 3   2008-04-01       Briges & Tunnels 24,900,328
 4   2008-04-01             MetroNorth  6,787,480
 ..         ...                    ...        ...
 847 2024-11-01   Long_Island_Railroad  6,283,873
 848 2024-11-01             MetroNorth  5,684,234
 849 2024-11-01                    Bus  7,494,503
 850 2024-11-01                    Bus 28,103,512
 851 2024-11-01  Staten_Island_Railway    195,389

 [749 rows x 3 columns])